.game-panel {
  overflow: hidden;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;

  background-image: linear-gradient(to bottom, #1C193F 0%, #280F42 53%, #4D1548 100%);
  color: #fff;
}

.game-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-center {
  flex-grow: 1;
  display: flex;
  column-gap: 3rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
}

.game-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}