.log-panel {
  width: 300px;
  height: 100%;
  border-radius: 30px;
  background-color: rgb(0 0 0 / 30%);
  box-shadow: 6px 6px 15px 3px rgb(0 0 0 / 15%);
}

.log-title {
  font-size: 32px;
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
}